
#about1-banner{
    background: url(../images/about1.jpg) no-repeat center center;
    background-size:cover;
    height:70vh;
}
#about2-banner{
    background: url(../images/about2.jpg) no-repeat center center;
    background-size:cover;
    height:70vh;
}
img {
   height:200px;
}

.cart-item{
    height:100px;
}